venv/*
models/*
!models/coop_push_scenario_closed
models/coop_push_scenario_closed/*
!models/coop_push_scenario_sparse
models/coop_push_scenario_sparse/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/*
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew
models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/*
!models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew
models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/*

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run9
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run9/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run9/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run9/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run12
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run12/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run12/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run12/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run14
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run14/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run14/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run14/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run20
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run20/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run20/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run20/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run23
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run23/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run23/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run23/sce_config.json

!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run17
models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run17/*
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run17/model.pt
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run17/sce_config.json

!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run19
models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run19/*
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run19/model.pt
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run19/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/run1
models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/run1/*
!models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/run1/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/run1/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run5
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run5/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run5/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run5/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run9
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run9/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run9/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run9/sce_config.json