venv/*
models/*
old_models/*
!models/coop_push_scenario_closed
models/coop_push_scenario_closed/*
!models/coop_push_scenario_sparse
models/coop_push_scenario_sparse/*
!models/coop_push_scenario_parse
models/coop_push_scenario_parse/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/*
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew
models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/*
!models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew
models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_nocol
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_nocol/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_sparse
models/coop_push_scenario_sparse/qmix_fo_abs_disc_sparse/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/*
!models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped
models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/*
!models/coop_push_scenario_sparse/qmix_fo_rel_disc_shaped
models/coop_push_scenario_sparse/qmix_fo_rel_disc_shaped/*
!models/coop_push_scenario_sparse/qmix_po_rel_disc_shaped
models/coop_push_scenario_sparse/qmix_po_rel_disc_shaped/*
!models/coop_push_scenario_sparse/qmix_poshort_rel_disc_shaped
models/coop_push_scenario_sparse/qmix_poshort_rel_disc_shaped/*

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run9
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run9/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run9/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run9/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run12
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run12/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run12/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run12/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run14
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run14/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run14/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run14/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run20
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run20/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run20/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run20/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run23
models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run23/*
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run23/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_disc_distrew/run23/sce_config.json

!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run17
models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run17/*
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run17/model.pt
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run17/sce_config.json

!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run19
models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run19/*
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run19/model.pt
!models/coop_push_scenario_closed/cmaes_2a_fo_cont_abs_distrew/run19/sce_config.json

!models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/run1
models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/run1/*
!models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/run1/model.pt
!models/coop_push_scenario_closed/2addpg_fo_abs_cont_distrew/run1/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run5
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run5/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run5/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run5/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run9
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run9/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run9/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_sparse/run9/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_sparse/run11
models/coop_push_scenario_sparse/qmix_fo_abs_disc_sparse/run11/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_sparse/run11/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_sparse/run11/sce_config.json
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run11/incremental/model_ep385001.pt

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run3
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run3/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run3/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run3/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run5
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run5/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run5/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run5/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run6
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run6/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run6/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run6/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run7
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run7/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run7/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run7/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run11
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run11/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run11/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run11/sce_config.json
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run11/incremental/
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run11/incremental/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run11/incremental/model_ep385001.pt

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run13
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run13/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run13/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_shaped_nocol/run13/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_nocol/run7
models/coop_push_scenario_sparse/2addpg_fo_abs_cont_nocol/run7/*
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_nocol/run7/model_ep76001.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_nocol/run7/model_ep77001.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_nocol/run7/model_ep78001.pt
!models/coop_push_scenario_sparse/2addpg_fo_abs_cont_nocol/run7/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run11
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run11/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run11/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run11/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run15
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run15/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run15/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run15/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run16
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run16/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run16/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run16/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run17
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run17/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run17/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run17/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run20
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run20/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run20/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped_nocol/run20/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run1
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run1/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run1/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run1/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run2
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run2/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run2/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run2/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run3
models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run3/*
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run3/model.pt
!models/coop_push_scenario_sparse/qmix_fo_abs_disc_shaped/run3/sce_config.json

!models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/run1
models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/run1/*
!models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/run1/model.pt
!models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/run1/sce_config.json

!models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/run4
models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/run4/*
!models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/run4/model.pt
!models/coop_push_scenario_sparse/qmix_po_abs_disc_shaped/run4/sce_config.json

!models/coop_push_scenario_sparse/qmix_fo_rel_disc_shaped/runs_data/
!models/coop_push_scenario_sparse/qmix_fo_rel_disc_shaped/eval_perfs.csv
!models/coop_push_scenario_sparse/qmix_fo_rel_disc_shaped/run1/
models/coop_push_scenario_sparse/qmix_fo_rel_disc_shaped/run1/*
!models/coop_push_scenario_sparse/qmix_fo_rel_disc_shaped/run1/model.pt
!models/coop_push_scenario_sparse/qmix_fo_rel_disc_shaped/run1/sce_config.json

!models/coop_push_scenario_sparse/qmix_po_rel_disc_shaped/runs_data/
!models/coop_push_scenario_sparse/qmix_po_rel_disc_shaped/eval_perfs.csv
!models/coop_push_scenario_sparse/qmix_po_rel_disc_shaped/run8/
models/coop_push_scenario_sparse/qmix_po_rel_disc_shaped/run8/*
!models/coop_push_scenario_sparse/qmix_po_rel_disc_shaped/run8/model.pt
!models/coop_push_scenario_sparse/qmix_po_rel_disc_shaped/run8/sce_config.json

!models/coop_push_scenario_sparse/qmix_poshort_rel_disc_shaped/runs_data/
!models/coop_push_scenario_sparse/qmix_poshort_rel_disc_shaped/eval_perfs.csv
!models/coop_push_scenario_sparse/qmix_poshort_rel_disc_shaped/run9/
models/coop_push_scenario_sparse/qmix_poshort_rel_disc_shaped/run9/*
!models/coop_push_scenario_sparse/qmix_poshort_rel_disc_shaped/run9/model.pt
!models/coop_push_scenario_sparse/qmix_poshort_rel_disc_shaped/run9/sce_config.json

!models/coop_push_scenario_sparse/2addpg_fo_rel_disc
models/coop_push_scenario_sparse/2addpg_fo_rel_disc/*
!models/coop_push_scenario_sparse/2addpg_fo_rel_disc/runs_data/
!models/coop_push_scenario_sparse/2addpg_fo_rel_disc/eval_perfs.csv
!models/coop_push_scenario_sparse/2addpg_fo_rel_disc/run11/
models/coop_push_scenario_sparse/2addpg_fo_rel_disc/run11/*
!models/coop_push_scenario_sparse/2addpg_fo_rel_disc/run11/model.pt
!models/coop_push_scenario_sparse/2addpg_fo_rel_disc/run11/sce_config.json

!models/coop_push_scenario_sparse/2addpg_po_rel_disc
models/coop_push_scenario_sparse/2addpg_po_rel_disc/*
!models/coop_push_scenario_sparse/2addpg_po_rel_disc/runs_data/

!models/coop_push_scenario_sparse/2addpg_poshort_rel_disc
models/coop_push_scenario_sparse/2addpg_poshort_rel_disc/*
!models/coop_push_scenario_sparse/2addpg_poshort_rel_disc/runs_data/

!models/coop_push_scenario_sparse/2addpg_fo_rel_disc_frames
models/coop_push_scenario_sparse/2addpg_fo_rel_disc_frames/*
!models/coop_push_scenario_sparse/2addpg_fo_rel_disc_frames/all_runs_data
!models/coop_push_scenario_sparse/2addpg_fo_rel_disc_frames/run1
models/coop_push_scenario_sparse/2addpg_fo_rel_disc_frames/run1/*
!models/coop_push_scenario_sparse/2addpg_fo_rel_disc_frames/run1/mean_episode_rewards.csv

!models/coop_push_scenario_sparse/maddpg_fo_rel_disc_gumbel
models/coop_push_scenario_sparse/maddpg_fo_rel_disc_gumbel/*
!models/coop_push_scenario_sparse/maddpg_fo_rel_disc_gumbel/run1
models/coop_push_scenario_sparse/maddpg_fo_rel_disc_gumbel/run1/*
!models/coop_push_scenario_sparse/maddpg_fo_rel_disc_gumbel/run1/train_data.csv

!models/coop_push_scenario_sparse/mymaddpg_panoveld_fo_rel_disc
models/coop_push_scenario_sparse/mymaddpg_panoveld_fo_rel_disc/*
!models/coop_push_scenario_sparse/mymaddpg_panoveld_fo_rel_disc/run3
models/coop_push_scenario_sparse/mymaddpg_panoveld_fo_rel_disc/run3/*
!models/coop_push_scenario_sparse/mymaddpg_panoveld_fo_rel_disc/run3/training_data.csv

!models/coop_push_scenario_sparse/mymaddpg_manoveld_fo_rel_disc
models/coop_push_scenario_sparse/mymaddpg_manoveld_fo_rel_disc/*
!models/coop_push_scenario_sparse/mymaddpg_manoveld_fo_rel_disc/run1
models/coop_push_scenario_sparse/mymaddpg_manoveld_fo_rel_disc/run1/*
!models/coop_push_scenario_sparse/mymaddpg_manoveld_fo_rel_disc/run1/training_data.csv

!models/coop_push_scenario_sparse/maddpg_manoveld_po_disc
models/coop_push_scenario_sparse/maddpg_manoveld_po_disc/*
!models/coop_push_scenario_sparse/maddpg_manoveld_po_disc/to_plot
!models/coop_push_scenario_sparse/maddpg_manoveld_po_disc/to_plot_01

!models/coop_push_scenario_sparse/maddpg_po_disc
models/coop_push_scenario_sparse/maddpg_po_disc/*
!models/coop_push_scenario_sparse/maddpg_po_disc/to_plot

!models/coop_push_scenario_sparse/maddpg_manoveld_po_epsexp_disc
models/coop_push_scenario_sparse/maddpg_manoveld_po_epsexp_disc/*
!models/coop_push_scenario_sparse/maddpg_manoveld_po_epsexp_disc/to_plot

!models/coop_push_scenario_sparse/maddpg_manoveld_fo_disc
models/coop_push_scenario_sparse/maddpg_manoveld_fo_disc/*
!models/coop_push_scenario_sparse/maddpg_manoveld_fo_disc/to_plot

!models/coop_push_scenario_sparse/mymaddpg_fo_rel_disc
models/coop_push_scenario_sparse/mymaddpg_fo_rel_disc/*
!models/coop_push_scenario_sparse/mymaddpg_fo_rel_disc/to_plot

!models/coop_push_scenario_sparse_HARDER
models/coop_push_scenario_sparse_HARDER/*

!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc
models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/*
!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/train_data
!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/eval_data
!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/run1
models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/run1/*
!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/run1/model.pt
!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/run1/sce_config.json
!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/run5
models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/run5/*
!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/run5/model.pt
!models/coop_push_scenario_sparse_HARDER/maddpg_fo_disc/run5/sce_config.json

!models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_fo_disc
models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_fo_disc/*
!models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_fo_disc/train_data_10
!models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_fo_disc/eval_data_10
!models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_fo_disc/train_data_03
!models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_fo_disc/eval_data_03

!models/coop_push_scenario_sparse_HARDER/maddpg_pol_disc
models/coop_push_scenario_sparse_HARDER/maddpg_pol_disc/*
!models/coop_push_scenario_sparse_HARDER/maddpg_pol_disc/train_data
!models/coop_push_scenario_sparse_HARDER/maddpg_pol_disc/eval_data

!models/coop_push_scenario_sparse_HARDER/maddpg_panoveld_pol_disc
models/coop_push_scenario_sparse_HARDER/maddpg_panoveld_pol_disc/*
!models/coop_push_scenario_sparse_HARDER/maddpg_panoveld_pol_disc/train_data
!models/coop_push_scenario_sparse_HARDER/maddpg_panoveld_pol_disc/eval_data

!models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_pol_disc
models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_pol_disc/*
!models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_pol_disc/train_data
!models/coop_push_scenario_sparse_HARDER/maddpg_manoveld_pol_disc/eval_data

!models/coop_push_scenario_HARDER
models/coop_push_scenario_HARDER/*

!models/coop_push_scenario_HARDER/maddpg_manoveld_pol_disc
models/coop_push_scenario_HARDER/maddpg_manoveld_pol_disc/*
!models/coop_push_scenario_HARDER/maddpg_manoveld_pol_disc/run18
models/coop_push_scenario_HARDER/maddpg_manoveld_pol_disc/run18/*
!models/coop_push_scenario_HARDER/maddpg_manoveld_pol_disc/run18/model.pt
!models/coop_push_scenario_HARDER/maddpg_manoveld_pol_disc/run18/sce_config.json

!models/click_n_push2
models/click_n_push2/*

!models/click_n_push2/maddpg_fo_cont
models/click_n_push2/maddpg_fo_cont/*
!models/click_n_push2/maddpg_fo_cont/run2
models/click_n_push2/maddpg_fo_cont/run2/*
!models/click_n_push2/maddpg_fo_cont/run2/model.pt
!models/click_n_push2/maddpg_fo_cont/run2/sce_config.json

!models/coop_push_scenario_HARDER/maddpg_marnd_fo_disc
models/coop_push_scenario_HARDER/maddpg_marnd_fo_disc/*
!models/coop_push_scenario_HARDER/maddpg_marnd_fo_disc/run2
models/coop_push_scenario_HARDER/maddpg_marnd_fo_disc/run2/*
!models/coop_push_scenario_HARDER/maddpg_marnd_fo_disc/run2/model.pt
!models/coop_push_scenario_HARDER/maddpg_marnd_fo_disc/run2/sce_config.json

!models/click_n_push2/qmix_manoveld_fo
models/click_n_push2/qmix_manoveld_fo/*
!models/click_n_push2/qmix_manoveld_fo/run3
models/click_n_push2/qmix_manoveld_fo/run3/*
!models/click_n_push2/qmix_manoveld_fo/run3/model.pt
!models/click_n_push2/qmix_manoveld_fo/run3/sce_config.json

!models/click_n_push2_fixed
models/click_n_push2_fixed/*

!models/click_n_push2_fixed/qmix_manoveld_fo
models/click_n_push2_fixed/qmix_manoveld_fo/*
!models/click_n_push2_fixed/qmix_manoveld_fo/run5
models/click_n_push2_fixed/qmix_manoveld_fo/run5/*
!models/click_n_push2_fixed/qmix_manoveld_fo/run5/model.pt
!models/click_n_push2_fixed/qmix_manoveld_fo/run5/sce_config.json
!models/click_n_push2_fixed/qmix_manoveld_fo/train_data

!models/click_n_push2_fixed/qmix_fo
models/click_n_push2_fixed/qmix_fo/*
!models/click_n_push2_fixed/qmix_fo/train_data

!models/click_n_push2_fixed/qmix_panoveld_fo
models/click_n_push2_fixed/qmix_panoveld_fo/*
!models/click_n_push2_fixed/qmix_panoveld_fo/train_data

!models/click_n_push2_fixed/qmix_manoveld_po
models/click_n_push2_fixed/qmix_manoveld_po/*
!models/click_n_push2_fixed/qmix_manoveld_po/run2
models/click_n_push2_fixed/qmix_manoveld_po/run2/*
!models/click_n_push2_fixed/qmix_manoveld_po/run2/model.pt
!models/click_n_push2_fixed/qmix_manoveld_po/run2/sce_config.json
!models/click_n_push2_fixed/qmix_manoveld_po/train_data

!models/click_n_push_fixed
models/click_n_push_fixed/*

!models/rel_overgen
models/rel_overgen/*

!models/rel_overgen/qmix_manoveld_fo
models/rel_overgen/qmix_manoveld_fo/*
!models/rel_overgen/qmix_manoveld_fo/run8
models/rel_overgen/qmix_manoveld_fo/run8/*
!models/rel_overgen/qmix_manoveld_fo/run8/model.pt

!models/rel_overgen/qmix_fo
models/rel_overgen/qmix_fo/*
!models/rel_overgen/qmix_fo/run10
models/rel_overgen/qmix_fo/run10/*
!models/rel_overgen/qmix_fo/run10/model.pt
!models/rel_overgen/qmix_fo/train_data
!models/rel_overgen/qmix_fo/train_data_60_50

!models/rel_overgen/qmix_manoveld_fo
models/rel_overgen/qmix_manoveld_fo/*
!models/rel_overgen/qmix_manoveld_fo/run6
models/rel_overgen/qmix_manoveld_fo/run6/*
!models/rel_overgen/qmix_manoveld_fo/run6/model.pt

!models/rel_overgen/qmix_manoveld_fo/train_data
!models/rel_overgen/qmix_manoveld_fo/train_data_mlia

!models/rel_overgen/qmix_fo/run5
models/rel_overgen/qmix_fo/run5/*
!models/rel_overgen/qmix_fo/run5/model.pt

!models/rel_overgen/qmix_panoveld_fo
models/rel_overgen/qmix_panoveld_fo/*
!models/rel_overgen/qmix_panoveld_fo/train_data

maxtoq*
algorithms/MALNovelD/sbatch_qmix_train.sh

!models/rel_overgen/qmix_manoveld
models/rel_overgen/qmix_manoveld/*
!models/rel_overgen/qmix_manoveld/train_data
!models/rel_overgen/qmix_manoveld/train_data_40_50
!models/rel_overgen/qmix_manoveld/train_data_40_40
!models/rel_overgen/qmix_manoveld/train_data_40_30

!models/rel_overgen/qmix
models/rel_overgen/qmix/*
!models/rel_overgen/qmix/run3
models/rel_overgen/qmix/run3/*
!models/rel_overgen/qmix/run3/model.pt
!models/rel_overgen/qmix/train_data_40_50
!models/rel_overgen/qmix/train_data_40_40
!models/rel_overgen/qmix/train_data_40_30

!models/rel_overgen/qmix_manoveld_sig
models/rel_overgen/qmix_manoveld_sig/*
!models/rel_overgen/qmix_manoveld_sig/train_data_40_50

!models/rel_overgen/qmix_panoveld
models/rel_overgen/qmix_panoveld/*
!models/rel_overgen/qmix_panoveld/train_data

!models/rel_overgen/qmix_panoveld_4040
models/rel_overgen/qmix_panoveld_4040/*
!models/rel_overgen/qmix_panoveld_4040/train_data

!models/rel_overgen/qmix_panoveld_4030
models/rel_overgen/qmix_panoveld_4030/*
!models/rel_overgen/qmix_panoveld_4030/train_data

outputs/*

!models/rel_overgen/qmix_cent_e2snoveld_inv_dyn
models/rel_overgen/qmix_cent_e2snoveld_inv_dyn/*
!models/rel_overgen/qmix_cent_e2snoveld_inv_dyn/train_data_4030
!models/rel_overgen/qmix_cent_e2snoveld_inv_dyn/train_data_4040

!models/rel_overgen/qmix_loc_e2snoveld_inv_dyn
models/rel_overgen/qmix_loc_e2snoveld_inv_dyn/*
!models/rel_overgen/qmix_loc_e2snoveld_inv_dyn/train_data_4030
!models/rel_overgen/qmix_loc_e2snoveld_inv_dyn/train_data_4040

!models/rel_overgen/qmix_cent_e2snoveld_invdyn_4050
models/rel_overgen/qmix_cent_e2snoveld_invdyn_4050/*
!models/rel_overgen/qmix_cent_e2snoveld_invdyn_4050/train_data

!models/rel_overgen/qmix_loc_e2snoveld_invdyn_4050
models/rel_overgen/qmix_loc_e2snoveld_invdyn_4050/*
!models/rel_overgen/qmix_loc_e2snoveld_invdyn_4050/train_data

!models/coop_push_corners
models/coop_push_corners/*

!models/coop_push_corners/qmix_loc_e2snoveld_invdyn
models/coop_push_corners/qmix_loc_e2snoveld_invdyn/*
!models/coop_push_corners/qmix_loc_e2snoveld_invdyn/train_data

!models/coop_push_corners/qmix_cent_e2snoveld_inv_dyn
models/coop_push_corners/qmix_cent_e2snoveld_inv_dyn/*
!models/coop_push_corners/qmix_cent_e2snoveld_inv_dyn/train_data

!models/coop_push_corners/qmix_cent_e2snoveld_po
models/coop_push_corners/qmix_cent_e2snoveld_po/*
!models/coop_push_corners/qmix_cent_e2snoveld_po/train_data

!models/coop_push_corners/qmix_loc_e2snoveld_po
models/coop_push_corners/qmix_loc_e2snoveld_po/*
!models/coop_push_corners/qmix_loc_e2snoveld_po/train_data

!models/coop_push_corners/qmix
models/coop_push_corners/qmix/*
!models/coop_push_corners/qmix/train_data
!models/coop_push_corners/qmix/train_data_mod

launch_tensorboard.sh

!models/rel_overgen/qmix_4030
models/rel_overgen/qmix_4030/*
!models/rel_overgen/qmix_4030/train_data

!models/rel_overgen/qmix_4040
models/rel_overgen/qmix_4040/*
!models/rel_overgen/qmix_4040/train_data

!models/rel_overgen/qmix_4050
models/rel_overgen/qmix_4050/*
!models/rel_overgen/qmix_4050/train_data

!models/rel_overgen/qmix_jim_4030
models/rel_overgen/qmix_jim_4030/*
!models/rel_overgen/qmix_jim_4030/train_data

!models/rel_overgen/qmix_jim_4040
models/rel_overgen/qmix_jim_4040/*
!models/rel_overgen/qmix_jim_4040/train_data

!models/rel_overgen/qmix_jim_4050
models/rel_overgen/qmix_jim_4050/*
!models/rel_overgen/qmix_jim_4050/train_data

!models/rel_overgen/qmix_lim_4030
models/rel_overgen/qmix_lim_4030/*
!models/rel_overgen/qmix_lim_4030/train_data

!models/rel_overgen/qmix_lim_4040
models/rel_overgen/qmix_lim_4040/*
!models/rel_overgen/qmix_lim_4040/train_data

!models/rel_overgen/qmix_lim_4050
models/rel_overgen/qmix_lim_4050/*
!models/rel_overgen/qmix_lim_4050/train_data

!models/push_buttons
models/push_buttons/*

!models/push_buttons/qmix_lim
models/push_buttons/qmix_lim/*
!models/push_buttons/qmix_lim/train_data

!models/push_buttons/qmix_jim
models/push_buttons/qmix_jim/*
!models/push_buttons/qmix_jim/train_data

!models/push_buttons/qmix_lim_pol
models/push_buttons/qmix_lim_pol/*
!models/push_buttons/qmix_lim_pol/train_data
!models/push_buttons/qmix_lim_pol/train_data_1

!models/push_buttons/qmix_jim_pol
models/push_buttons/qmix_jim_pol/*
!models/push_buttons/qmix_jim_pol/train_data
!models/push_buttons/qmix_jim_pol/train_data_1

!models/push_buttons/qmix_pol
models/push_buttons/qmix_pol/*
!models/push_buttons/qmix_pol/train_data
!models/push_buttons/qmix_pol/train_data_1